{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Log In</h2>
    </div>
    <div>
        If you <b>don't</b> have an account, then <a href={{ url_for('users.register') }}>Register!</a>
    </div>
    <div>
        <form action="" method="post">
            {{ form.csrf_token }}
            <div>
                {{ form.username.label(class="form-control-label green-text") }}
                {{ form.username(class="form-control form-control-md") }}

                {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>

            {% endif %}
            </div>
            <div>
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div>
                {{ form.token.label(class="form-control-label green-text") }}
                {{ form.token(class="form-control form-control-md") }}

                {% if form.token.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.token.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>

            {% endif %}
            </div>
            <div>
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </form>
    </div>
{% endblock %}