{% extends "base.html" %}
{% block content %}
<article>
    <div>
        <div>
            <!-- Post metadata -->
            <a href="">{ Post Author }</a> <br>     <!-- Should be changed -->
            Published: { Post Date }    <!-- Should be changed -->
        </div> 
        <h2>{ Post Title }</h2>          <!-- Should be changed -->
        <p>{ Post Content }</p>          <!-- Should be changed -->
    </div>
</article>

<div>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <div>
        <div>
            { Comment Author } at { Comment Date } said: <!-- Should be changed -->
        </div>
        <p>
            { Comment Content }
        </p>
    </div>
    {% endfor %}
</div>
<div>
    Submit a new comment!
    <form action="" method="post">
       <!-- Should be changed --> 
    </form>
</div>
{% endblock %}