{% extends "base.html" %}
{% block content %}
<div>
    <h2>{{ user.username }}'s History</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Posts:</h3>
            <div class="list-group">
                {% for post in posts %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <a href={{ url_for('posts.post_detail', title=post.title) }}>
                            <h5 class="mb-1">{{ post.title }}</h5>
                        </a>
                        <small class="text-muted"><a
                                href={{ url_for('posts.post_detail', title=post.title) }}>Comments</a>
                            • <a
                                href={{ url_for('main.user_detail', username=current_user.username) }}>{{ post.author.username }}</a>
                            • {{ post.date.strftime('%b %d, %Y at %I:%M %p') }}</small>
                    </div>
                    {% if post.is_video %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src={{ "https://www.youtube.com/embed/%s" % post.content }}
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                    {% else %}
                    {% if post.content|length >= 400 %}
                    <p class="mb-1">{{ post.content[:400] }}...</p>
                    {% else %}
                    <p class="mb-1">{{ post.content }}</p>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4">
            <h3>Comments:</h3>
            <div class="list-group">
                {% for comment in comments %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">On <a
                                href={{ url_for('posts.post_detail', title=comment.post.title) }}>{{ comment.post.title }}</a>
                        </h5>
                        <small class="text-muted">{{ comment.date.strftime('%b %d, %Y at %I:%M %p') }}</small>
                    </div>
                    <p class="mb-1">{{ comment.content }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}